/* ....general code .... */
body{
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ....banner section .... */
#banner{
    background-image: linear-gradient(rgba(0,0,0,0.5),#009688),url(images/donation7.jpg);
    background-size: cover;
    height: 70vh;
}
.banner-text{
    text-align: center;
    color: #fff;
    padding-top: 14em;
}
.banner-text h1{
    font-size: 3em;
}
.banner-btn{
    font-family: 'Roboto', sans-serif;
    background-color: #ef584a;
    color: #fff;
    outline: none;
    text-decoration: none;
    border: none;
    text-align: center;
    padding: .9em 1.6em;
    border-radius: 5px;
    margin-top: 2em;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
}

/* ....donate money section .... */
#donateMoney{
    text-align: center;
    padding-top: 6em;
}
.donateMoney-text{
    font-size: 2.5em;
    padding: .5em;
}
#donateMoney p{
    line-height: 1.5;
}
#donateMoney h5{
    margin-bottom: 1em;
    font-size: 1.5em;
    color: grey;
}
.amount-potions{
    padding-top: 3em;
    max-width: 42%;
    display: flex;
    margin: 10px;
    justify-content: space-around;
    margin: auto;
}
.amount-potions h5{
    padding: 1.7em 1.5em ;
    background-color: rgb(241, 238, 238);
    border-radius: 5px;
}
hr{
    width: 50%;
    margin: auto;
}
.other-amount{
    color: gray;
    margin-bottom: 10px;
}
.red{
    border: 2px solid red;
    background-color: #e6eff0 !important;
    color: red !important;
}

/* ....donate plan section .... */
#donatePlan{
    padding-top: 6.5em;
    max-width: 60%;
    margin: auto;
}
.donatePlan-text{
    text-align: center;
    
}
.donatePlan-text h1{
    padding-bottom: .7em;
    font-size: 2.5em;
}
.donatePlan-text p{
    line-height: 1.5;
}
.cards{
    display: flex;
    justify-content: space-between;
    margin-top: 4em;
}
.card{
    max-width: 30%;
    /* border: 2px black solid; */
    height: 19em;
    width: 20em;
    padding: 2em;
    border-radius: 5px;
}
.card-1{
    background-color: rgb(245, 252, 249);
}
.card-2{
    background-color: rgb(247, 225, 240);
}
.card-3{
    background-color: rgb(250, 248, 236);
}













/* ....banner section .... */
/* ....banner section .... */