/* ....general code .... */
body{
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ....banner section .... */
#banner{
    background-image: linear-gradient(rgba(0,0,0,0.5),#009688),url(images/donation7.jpg);
    background-size: cover;
    height: 70vh;
}
.banner-text{
    text-align: center;
    color: #fff;
    padding-top: 14em;
}
.banner-text h1{
    font-size: 3em;
}
.banner-btn{
    font-family: 'Roboto', sans-serif;
    background-color: #ef584a;
    color: #fff;
    outline: none;
    text-decoration: none;
    border: none;
    text-align: center;
    padding: .9em 1.6em;
    border-radius: 5px;
    margin-top: 2em;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
}

/* ....donate money section .... */
#donateMoney{
    text-align: center;
    padding-top: 6em;
}
.donateMoney-text{
    font-size: 2.5em;
    padding: .5em;
}
#donateMoney p{
    line-height: 1.5;
}
#donateMoney h5{
    margin-bottom: 1em;
    font-size: 1.5em;
    color: grey;
}
.amount-potions{
    padding-top: 3em;
    max-width: 42%;
    display: flex;
    margin: 10px;
    justify-content: space-around;
    margin: auto;
}
.amount-potions h5{
    padding: 1.7em 1.5em ;
    background-color: rgb(241, 238, 238);
    border-radius: 5px;
}
hr{
    width: 50%;
    margin: auto;
}
.other-amount{
    color: gray;
    margin-bottom: 10px;
}
.red{
    border: 2px solid red;
    background-color: #e6eff0 !important;
    color: red !important;
}

/* ....donate plan section .... */
#donatePlan{
    padding-top: 6.5em;
    max-width: 60%;
    margin: auto;
}
.donatePlan-text{
    text-align: center;
    
}
.donatePlan-text h1{
    padding-bottom: .7em;
    font-size: 2.5em;
}
.donatePlan-text p{
    line-height: 1.5;
}
.cards{
    display: flex;
    justify-content: space-between;
    margin-top: 4em;
}
.card h1{
    font-size: 1.3em;
    margin-top: 1em;
}
.card p{
    font-size: 13px;
    margin-top: 1em;
}
.card{
    max-width: 30%;
    /* border: 2px black solid; */
    height: 19em;
    width: 20em;
    padding: 2em;
    border-radius: 5px;
}
.card-1{
    background-color: rgb(245, 252, 249);
}
.card-2{
    background-color: rgb(247, 225, 240);
}
.card-3{
    background-color: rgb(252, 251, 183);
}

/* ....donation lives section .... */
#donationLives{
    padding-top: 9em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 80%;
    margin: auto;
}
.donationLives-text{
    max-width: 40%;
}
.donationLives-text h1{
    font-size: 2.4em;
}
.donationLives-img{
    max-width: 40%;
}

/* ....form section .... */
#formArea{
    margin: auto;
    background-color: rgba(228, 228, 228, 0.829);
    padding: 2.5em 1em .1em;
    margin-top: 2em;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
}
#formArea input{
    padding: 3px;
}
#formArea .submit{
    padding: 5px 10px;
}
.contract-title{
    text-align: center;
    padding-top: 4em;
    font-size: 2em;
}

/* ....get updates section .... */
    #getUpdates{
        max-width: 40%;
        margin: auto;
    }
    .getUpdates-text{
        text-align: center;
        padding-top: 7em;
    }
    .getUpdates-text h1{
        margin-bottom: 1em;
        font-size: 2.5em;
    }
    .get-form,.sub{
        /* width: 6em; */
        padding: 8px 40px;
        background-color: #ef584a;
    }
    .get-form{
        /* border: 2px solid red; */
        background: rgb(250, 239, 236);
        text-align: center;
        height: 10em;
        /* display: flex; */

    }
    .sub, .email{
        padding: 10px 20px;
        background: rgb(240, 239, 239);
        outline: none;
        border-radius: 5px;
    }
    .sub{
        background-color: #ef584a;
        color: #fff;
    }
    .form{
        margin-top: 50px;
    }

/* ....footer section .... */
    #footer{
        background-color: black;
        /* padding-top: 3em; */
        margin-top: 6.5em;
        height: 9em;
        text-align: center;
        /* margin-top: 3em; */
        /* position: relative; */
        /* position: absolute; */
    }
    .footer-text h1{
        color: #ef584a;
        margin-top: 30px;
        font-family: 'Roboto', sans-serif;
    }
    .footer-text p{
        color: white;
        /* margin-top: 30px; */
    }
    .footer-text{
        padding-top: 1em;
    }
